.App {
  text-align: center;
  background-color: aqua;
  height: 100vh;
}


.App-header {
  min-height: 5vh;
  font-size: 20pt;
  background-color: #ff9263;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

